{% extends 'index.html' %}
{% block title %}Inicio{% endblock title %}

{% block body_class %}inicio{% endblock %}

{% block content %}

<div class="container-inicio">
    <h1>Bienvenidos a Central Moon</h1>
    <p>Los videojuegos no son solo una forma de entretenimiento: son una ventana a universos fascinantes y un reflejo de la evolución cultural, tecnológica y social. En este espacio, exploramos los títulos que han dejado una huella indeleble en la industria del gaming y el mundo entero. Desde los primeros píxeles hasta las experiencias inmersivas de hoy, analizamos cómo estos juegos han moldeado no solo la tecnología, sino también la forma en que interactuamos con el arte, la narrativa y la comunidad global.</p>
    <p>Tambien exploraremos algunas de las consolas de videojuegos que han sido el puente que conecta a los jugadores con nuevos mundos virtuales.en la tecnología del entretenimiento. Además de ofrecer juegos, estas plataformas han evolucionado para integrar funciones multimedia, como streaming y redes sociales, cambiando la forma en que interactuamos con el gaming y creando nuevas formas de disfrutar el tiempo libre.</p>
</div>

{% endblock content %}